@import "../../stylus-lib/var.styl"

.linechart
  height 300px

.linechart-xAxisName
  position absolute
  left 50%
  bottom 3px
  font-size 12px
  transform(translateX(-50%))

.linechart-title
  margin 10px 0 0 10px
