@import "../../stylus-lib/var.styl"

.page-login
  position relative
  height 100%
  min-height 520px
  background-color #fff
  padding 60px 0 20px
  overflow hidden

  .form-item
    background-color #fff

.login-wrapper
  position relative
  width 80%
  max-width 500px
  margin 0 auto
  z-index 10

.form-action
  margin-top 30px

.animate-bg
  position fixed
  left 0
  top 0
  pointer-events none