@import "../../stylus-lib/var.styl"

.input-wrap
  position relative

  .input-text
    display block
    border none
    background none
    outline none
    width 100%
    padding 6px 12px

  &.has-clear
    .input-text
      padding-right 30px

  .input-actions
    position absolute
    right 10px
    top 50%
    transform(translateY(-50%))
    color #666
    white-space nowrap

    > .input-action
      margin-left 5px
