.permission-apply
  position relative
  height 100%
  padding-top 52px
  overflow hidden

  .searchbar
    position absolute
    left 0
    right 0
    top 0
    z-index 50

  .group-wrapper
    height 100%
    overflow-x hidden
    overflow-y auto

  .t-button-group
    > .t-button
      width 94px