.permission-record
    /*position relative
    height 100%
    overflow hidden

    .group-wrapper
        height 100%
        overflow-x hidden
        overflow-y auto
        padding-bottom 72px*/

    .group-list-item:first-child
        border-top none

/*.permission-record-actions
    position absolute
    left 0
    right 0
    bottom 0
    background-color #fff*/
