@import "../../stylus-lib/var.styl"

.page-fullscreen
  .store-selector
    transform(rotate(90deg) translate(50%, -50%))
  .store-list
    max-height none

  .t-toast
    transform(rotate(90deg) translateY(80%) translateX(-50%) !important)