@import "../../stylus-lib/var.styl"

.group-list-item
  padding 12px
  background-color #fff
  border-top 1px solid #ddd

  .group-item-text
    min-height 35px

  .t-button-group
    > .t-button
      height 35px
      line-height 35px

  .apply-status
    display inline-block
    height 30px
    line-height 30px

    &.ok
      color green

    &.refused
      color red

    &.wait
      color gblue

    .t-icon
      height 18px