@import "../../stylus-lib/var.styl"

.barchart
  height 300px

.barchart-xAxisName
  position absolute
  left 50%
  bottom 3px
  font-size 12px
  transform(translateX(-50%))

.barchart-title
  margin 10px 0 0 10px
