@import "../../stylus-lib/var.styl"

.circle-loader
  position relative
  svg
    circle.handle
      transform(rotate(-90deg))
      -webkit-transform-origin 50% 50%
      transform-origin 50% 50%

.circle-text
  center()
  font-size 16px