@import "../../stylus-lib/var.styl"

.survey-item
  text-align center

  .item-prop
    font-size 14px

  .item-value
    margin 8px 0 12px
    color gblue
    font-size 18px
    white-space nowrap

    &.extra
      margin-bottom 0

  .item-avg
    color #888
    font-size 12px
    white-space nowrap

.survey-item-cell
  .t-icon
    top -1px
  .trend-ratio
    margin-left 3px
  &.trend-up
    .t-icon
      color red
    .trend-ratio
      color red

  &.trend-down
    .t-icon
      color green
      transform(rotate(180deg))

    .trend-ratio
      color green

  .item-suffix
    margin-left 5px
    font-size 13px
