body
    color #333
    background-color #eee

.caret
    display inline-block
    width 0
    height 0
    border-width 6px
    border-style solid dashed dashed
    border-color #333 transparent transparent
    vertical-align -4px
    margin-left 5px

.inline-block
    display inline-block

.inline
    display inline

.t-icon
    &.icon-has-bg
        padding 1px
        margin-left 5px
        color #333
        background-color #45a8e6
        border-radius 50%

        .t-icon-svg
            vertical-align baseline

    &.icon-has-bg
        &.disabled
            background-color #e0e0e0

            svg
                fill #777