@import "../stylus-lib/var.styl"

*
  -webkit-tap-highlight-color transparent

body
  color #333
  -webkit-overflow-scrolling touch

html, body, #App, .app-body, .page-container, .page-content, .responsive
  width 100%
  height 100%

html, body
  touch-action: pan-y;
  overflow hidden

.page-container
  background-color #eee

.page-content
  overflow-x hidden
  overflow-y auto

.t-toast-content
  word-break break-all
  word-wrap break-word
  max-width 150px

.caret
  display inline-block
  width 0
  height 0
  border-width 6px
  border-style solid dashed dashed
  border-color #333 transparent transparent
  vertical-align -4px
  margin-left 5px

.inline-block
  display inline-block

.inline
  display inline

.t-toast
  color #fff
  pointer-events none

.t-icon
  display inline-block
  vertical-align middle

  &.icon-has-bg
    padding 1px
    margin-left 5px
    color #fff
    background-color #45a8e6
    border-radius 50%

  &.icon-has-bg
    &.disabled
      background-color #e0e0e0
      color #777

.t-icon-svg
  fill currentColor
  vertical-align top

svg:not(:root) {
  overflow hidden
}

.backdrop
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  background-color rgba(0,0,0,.4)
  z-index 301

/*====panel====*/
.panel
  panel()

  &:not(:last-child)
    margin-bottom 10px

  &.split
    .panel-item
      &:first-child
        padding-right 15px
        border-right 1px solid #ddd
      &:last-child
        padding-left 15px

.card
  position relative
  padding-top 10px
  padding-bottom 10px
  background-color #fff

  &:not(:last-child)
    margin-bottom 10px

.no-bg
  background none !important

ins
  font-family Arial, Tahoma !important
  text-decoration none

.t-tab
  margin-bottom 10px

.t-tab-head-item
  &.active
    color lighten(gblue, 30%)
    border-bottom-color lighten(gblue, 30%)