body
    color #333
    background-color #eee

.caret
    display inline-block
    width 0
    height 0
    border-width 6px
    border-style solid dashed dashed
    border-color #333 transparent transparent
    vertical-align -4px
    margin-left 5px

.inline-block
    display inline-block

.inline
    display inline