@import "../../stylus-lib/var.styl"

.searchbar
  padding 8px 12px

.searchbar-filed
  position relative
  background-color #fff
  padding 3px 42px 3px 12px
  radius(18px)


.searchbar-input
  width 100%

.searchbar-button
  position absolute
  right 12px
  top 7px
  color #dbdbdb
