
@import "../../stylus-lib/var.styl"

.header
  position absolute
  left 0
  right 0
  top 0
  height 50px
  background-color #fff
  border-bottom 1px solid #ddd
  z-index 500

  .h-toolbar
    position absolute
    left 12px
    top 50%
    transform(translateY(-50%))
    color #666

.header-title
  line-height 50px
  text-align center
  font-size 16px
