.icon
    display inline-block
    width 20px
    height 20px
    overflow hidden
    &.icon-home
        background url(../../images/icons/home.png) no-repeat
    &.icon-menu
        background url(../../images/icons/menu.png) no-repeat

.page-scrollNav{
    padding-top 50px
}

.scroll-nav
    position fixed
    left 0
    top 0
    right 0
    height 50px
    background-color #fff
    z-index 200

.scroll-nav-bd
    padding-left 40px
    padding-right 40px
    width 100%

.scroll-nav-item
    float left
    padding 18px 12px
    font-size 14px
    color #444

    &.active{
        color #06c
    }

.scroll-nav-toolbar
    position absolute
    top 0
    padding:14px 12px

    &.left
        left 0
    &.right
        right 0