@import "../../stylus-lib/var.styl"

.page-scrollNav
  padding-top 50px

.scroll-nav
  position fixed
  left 0
  top 0
  right 0
  height 50px
  padding-left 12px
  padding-right 12px
  background-color #fff
  z-index 100

  &.padL
    padding-left 44px
  &.padR
    padding-right 44px

.scroll-nav-contain
  width 100%
  height 50px
  overflow hidden

  > div
    transition: transform 400ms !important;

.scroll-nav-scroller
  white-space nowrap
  text-align center

.scroll-nav-item
  display inline-block
  padding 0 12px
  height 50px
  line-height 50px
  font-size 14px
  text-align center
  color #444
  white-space nowrap

  &.active {
    color darken(gblue, 30%)
    font-size 15px
  }

.scroll-nav-toolbar
  position absolute
  top 0
  padding: 14px 12px

  &.left
    left 0
  &.right
    right 0