.icon
  display inline-block
  width 20px
  height 20px
  overflow hidden

.page-scrollNav
  padding-top 50px

.scroll-nav
  position absolute
  left 0
  top 0
  right 0
  height 50px
  padding-left 12px
  padding-right 12px
  background-color #fff
  z-index 200

  &.padL
    padding-left 44px
  &.padR
    padding-right 44px

.scroll-nav-contain
  height 50px
  overflow hidden

.scroll-nav-bd
  width 100%
  padding-bottom 10px
  overflow-x auto
  overflow-y hidden
  -webkit-overflow-scrolling touch

.scroll-nav-scroller
  width 5000px

.scroll-nav-item
  float left
  padding 0 12px
  height 50px
  line-height 50px
  font-size 14px
  text-align center
  color #444
  white-space nowrap

  &.active {
    color #06c
    font-size 16px
  }

.scroll-nav-toolbar
  position absolute
  top 0
  padding: 14px 12px

  &.left
    left 0
  &.right
    right 0