@import "../../stylus-lib/var.styl"

.site-logo
  text-align center
  margin-bottom 30px

  .site-svgicon
    background-color #fff
    padding 15px
    radius(18px)
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,.05), 5px 5px 18px rgba(0,0,0,.08)
    box-shadow: 0 0 18px rgba(0,0,0,.05), 5px 5px 18px rgba(0,0,0,.08)

  .site-name
    display block
    margin-top 20px;
    font-size 18px
