.ui-table-row
  &:not(:last-child)
    border-bottom 1px solid #eee

.ui-table-cell
  padding 15px 8px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  color #666

  &.tba-center
    text-align center

  &.tba-right
    text-align right

.ui-table-cell-num
  padding-right 0
  overflow visible