makeTransform(props)
  -webkit-transform props
  transform props

.charts-container
  position relative
  width 100%
  background-color #fff
  padding-top 10px
  overflow hidden

  .tool-fullscreen
    position absolute
    top 0
    right 0
    width 36px
    height 36px
    z-index 10
    background url(../../images/icons/fullscreen.png) no-repeat 9px 9px
    background-size 18px auto


.charts-fullscreen
  .charts-main
    position fixed !important
    left 0
    top 0
    z-index 200
    background-color #f5f5f5 !important
    makeTransform(rotate(90deg) translate(50%, -50%))

    > div
      z-index 0

  .tool-fullscreen
    position fixed
    z-index 205
    top -7px
    left 0
    right auto
    background-image url(../../images/icons/screen-restore.png)
    background-size 24px auto
