makeTransform(props)
  -webkit-transform props
  transform props

makeShadow(x, y, offset, color, isInset = false)
  if isInset
    -webkit-box-shadow x y offset color inset
    box-shadow x y offset color inset
  else
    -webkit-box-shadow x y offset color
    box-shadow x y offset color

.date-navigator
  position relative
  margin-bottom 5px
  padding: 15px 0
  text-align center
  background-color #fff
  z-index 205

  .day
    margin-left 12px

  .date-arrow
    position absolute
    top:50%
    left 50%
    -webkit-transform translateY(-50%)
    transform translateY(-50%)

    &.left
      margin-left -112px

    &.right
      margin-left 80px

    > svg
      width 30px
      height 30px
      fill #999

    &.disabled
      > svg
        fill #e0e0e0

  .dropdown
    position absolute
    left 2px
    top 3px

  .diff-toggle
    position absolute
    right 15px
    top 3px

    .t-button
      color #333

.date-indicator
  .date-arrow
    &.left
      margin-left 0 !important
      left 0
    &.right
      margin-left 0
      left auto
      right 0

  .day
    margin-right 12px

  .date
    position absolute
    top 52px
    left 1px
    color #333

//全屏样式重写
.date-navigator-full
  position fixed
  makeTransform(rotate(90deg) translate(50%, -50%))
  makeShadow(0, 12px, 20px, rgba(0,0,0,.05))

@media (max-width: 320px)
  .date-navigator
    .date-arrow
      &.left
        margin-left -102px

      &.right
        margin-left 70px

    .diff-toggle
      right 8px