gblue = #008cee;

makeGradient(topColor, bottomColor)
  background -webkit-linear-gradient(top, topColor, bottomColor)
  background -webkit-gradient(linear, top, topColor, bottomColor)
  background linear-gradient(top, topColor, bottomColor)

makeShadow(x, y, offset, color, isInset = false)
  if isInset
    -webkit-box-shadow x y offset color inset
    box-shadow x y offset color inset
  else
    -webkit-box-shadow x y offset color
    box-shadow x y offset color

.stats-container
  position relative
  padding 10px 5px
  .stats-bd
    /*makeGradient(#7d8bfe, #3b57d4)*/
    background-color gblue
    makeShadow(0, 3px, 5px, rgba(0, 0, 0, .2))
  .stats-item
    float left
    width 50%
    padding 30px 0
    text-align center
    color #f9f9f9
    .stats-name
      margin-bottom 8px
    .stats-value
      font-size 30px
      > em
        font-style: normal
        font-size: 14px
        margin-left 3px
  &:after
    content ""
    position absolute
    left 50%
    top 0
    bottom 0
    width 1px
    background-color rgba(255, 255, 255, .3)

/*makeGradient(rgba(255,255,255,.1), rgba(255,255,255,.4))*/